@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
html{

}
body{
font-family: "Roboto", sans-serif;
}
header{
font-family: "Shrikhand", cursive;
text-align: center;
box-shadow: 2px 2px 1px gray;
padding: 1rem;
}
header a.logo img{
    
}
main{

}
img.top{

}
section.top{

}
.search{
text-align: center;
box-shadow:2px 2px 1px gray ;
background-color: lightgray;
padding: 1rem;
font-weight: 100%;
}
.search .fa-location{
font-weight: 100%;
}
.search .input{
font-family: "Roboto", sans-serif;
font-weight: bold;
}

.search h1{
text-align: center;

}
.search p{
text-align: center;
}
.search button{
text-align: center;
}
section.fonctionnement{

}
.main-wrapper{

}
.main-wrapper h2{

}
.main-wrapper menu{

}
section.restaurant{

}
.menu-cards{

}
.card{

}
.card img{

}
.card-content{

}
.card-txt{

}
.card-txt .card-title{

}
.card-txt .card-subtitle{

}
.card-rating{

}
.card-rating .fa-heart{

}
footer{

}
footer a.logo{

}
footer a.logo img{

}
.footer-link{

}
.footer-part{

}
.footer-part a{

}
.footer-part a .fa-solid{
    
}