@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

html {}

body {
    font-family: "Roboto", sans-serif;
}

header {
    font-family: "Shrikhand", cursive;
    box-shadow: 2px 2px 1px gray;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

header a.logo {
    display: flex;
}

header a.logo img {
    height: 3rem;
}

main {}

section.top {
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 1px gray;
    background-color: rgb(235, 235, 235);
    padding: 1.5rem;
    font-weight: 700;
    gap: 1rem;
}

.search .fa-location {
    font-size: 1rem;
}

.search input {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border: none;
}

.section.top h1 {
    text-align: center;
    font-size: 2rem;
}

.section-top p {
    text-align: center;
    color: rgb(71, 71, 71);
}

.section-top .button .btn-gradiant {
    text-align: center;
    color: white;
    background-color: rgb(226, 43, 211);
    border: none;
    border-radius: 2em;
    /*shadow background gradiant*/
}

section {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
}

.main-wrapper {}

section h2 {
font-size: 1.5rem;
font-weight: bold;
}

section menu {
    display: flex;
    flex-direction: column;
}
section menu li button{
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: rgb(216, 216, 216);
}
section menu li button:active i{
    color: violet;
}
section menu li button::before{

}
section menu li button i{

}
section menu li button span{
    font-weight: bold;
    font-size: 1rem;

}
section.restaurant {
    background-color: rgb(216, 216, 216);
}

.menu-cards {

}

.card {
    width: 100%;
}

.card img {
    width: 100%;
    height: 6em;
    object-fit: cover;
    object-position: center;
}

.card-content {}

.card-txt {}

.card-txt .card-title {}

.card-txt .card-subtitle {}

.card-rating {}

.card-rating .fa-heart {}

footer {}

footer a.logo {}

footer a.logo img {}

.footer-link {}

.footer-part {}

.footer-part a {}

.footer-part a .fa-solid {}