@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap";
@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap";
body.html {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  counter-reset: section;
  text-align: center;
}

header {
  font-family: "Shrikhand", cursive;
  box-shadow: 2px 2px 1px gray;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}
header a.logo {
  display: flex;
}
header a.logo img {
  height: 1.5em;
  width: 8em;
}

section.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  font-family: "Roboto", sans-serif;
  padding: 1em;
}
section.top .search {
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 1px gray;
  box-sizing: border-box;
  background-color: rgb(220, 218, 218);
  padding: 1rem;
  width: 100%;
  font-weight: 700;
  gap: 0.25rem;
  flex: 1;
}
section.top .search i.fa-location {
  font-size: 1rem;
}
section.top .search input {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  background: transparent;
  width: 8em;
  justify-content: center;
}
section.top .search input::-moz-placeholder {
  color: black;
}
section.top .search input::placeholder {
  color: black;
}
section.top h1 {
  text-align: center;
}
section.top p {
  text-align: center;
  margin-top: -1px;
}
section.top button.btn-gradiant {
  text-align: center;
  color: white;
  display: inline-block;
  background-color: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  background-image: linear-gradient(rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  z-index: 1;
  border: none;
  border-radius: 2em;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 1.5rem;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

section.fonctionnement {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1em;
  font-family: "Roboto", sans-serif;
}
section.fonctionnement .main-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}
section.fonctionnement h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
section.fonctionnement menu {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
  margin: 0;
  padding: 0;
}
section.fonctionnement menu li {
  width: 100%;
  display: flex;
  list-style: none;
  position: relative;
}
section.fonctionnement menu li button {
  gap: 1.5rem;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 1.5625rem 0.625rem;
  margin-bottom: 1.25rem;
  margin-left: 0.8125rem;
  border-radius: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: bold;
  background: #F6F6F6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
section.fonctionnement menu li button .step {
  padding-left: 30px;
}
section.fonctionnement menu li button:hover i {
  color: #FF79DA;
}
section.fonctionnement menu li button::before {
  align-items: center;
  color: white;
  counter-increment: section;
  content: counter(section);
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  background-color: #9356DC;
  position: absolute;
  top: 1em;
  left: -0.7em;
  padding: 8px;
}
section.fonctionnement menu li button span {
  font-weight: bold;
  font-size: 1rem;
}

section.restaurant {
  background-color: #F6F6F6;
  padding: 1em;
}
section.restaurant .main-wrapper .menu-cards {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 89%;
}
section.restaurant .main-wrapper .menu-cards a {
  display: flex;
  text-decoration: none;
  color: black;
  width: 100%;
}
section.restaurant .main-wrapper .menu-cards a article.card {
  border-radius: 1.5em;
  width: 100%;
  background: white;
}
section.restaurant .main-wrapper .menu-cards a article.card img {
  width: 100%;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 2em 2em 0 0;
}
section.restaurant .main-wrapper .menu-cards a article.card .card-content {
  display: flex;
  padding: 0.5em;
  flex: 1;
  justify-content: space-between;
}
section.restaurant .main-wrapper .menu-cards a article.card .card-content .card-txt {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  align-items: flex-start;
  padding-left: 5px;
}
section.restaurant .main-wrapper .menu-cards a article.card .card-content h3.card-title {
  font-size: 1em;
  margin: 0;
  font-weight: 600;
}
section.restaurant .main-wrapper .menu-cards a article.card .card-content p.card-subtitle {
  font-size: 1em;
  margin: 0;
}
section.restaurant .main-wrapper .menu-cards a article.card .card-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2.5em;
  text-align: center;
}
section.restaurant .main-wrapper .menu-cards a article.card .card-rating i {
  font-weight: 700;
  text-align: right;
  font-size: 1.5rem;
  background-color: transparent;
}
section.restaurant .main-wrapper .menu-cards a article.card .card-rating i:hover {
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-color: #FF79DA;
}

footer .homepage_footer {
  background: #707070;
  display: flex;
  align-content: flex-start;
}
footer .footer_container {
  color: #FFF;
}
footer .logo_footer p.title_footer {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: lowercase;
  margin-bottom: 1.25rem;
  height: 0.5rem;
}
footer .footer-link .footer-list {
  color: #FFF;
  display: flex;
  flex-direction: column;
}
footer a {
  color: #FFF;
}/*# sourceMappingURL=index_20240919113447.css.map */