$color_1: #9356DC;
$color_2: white;
$color_3: #FF79DA;
$font-family_1: "Roboto", sans-serif;
$font-family_2: "Shrikhand", cursive;
$background-color_1: #9356DC;
$background-color_2: #FF79DA;
$background-color_3: rgb(216, 216, 216);

@mixin favorite-restaurant {
    background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}

@mixin favorite-icone-empty {
    opacity: 1;
    font-size: 1.6rem;
    cursor: pointer;
    position: absolute;
}

@mixin favorite-icone-fill {
    opacity: 0;
    font-size: 1.6rem;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap";
@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap";

body.html {
    font-family: $font-family_1;
    margin: 0;

    .loader {
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.95);
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;

        &__circles {
            width: 80px;
            height: 80px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            border-radius: 80px;
            border: 4px solid transparent;
            border-top-color: $background-color_2;
            animation: spin 2s linear 1.1s both;

            &::after {
                content: '';
                position: absolute;
                top: 8px;
                left: 8px;
                bottom: 8px;
                right: 8px;
                border-radius: 50px;
                border: 4px solid transparent;
                border-top-color: $background-color_1;
                opacity: 0.8;
                animation: spin 2.5s linear 600ms;
            }

            &:before {
                content: '';
                position: absolute;
                top: 20px;
                left: 20px;
                bottom: 20px;
                right: 20px;
                border-radius: 50px;
                border: 4px solid transparent;
                border-top-color: $background-color_3;
                opacity: 0.5;
                animation: spin 3s linear 100ms;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                    opacity: 1;
                }

                75% {
                    transform: rotate(360deg);
                    opacity: .8;
                }

                100% {
                    transform: rotate(360deg);
                    opacity: 0;
                }
            }
        }
    }
}

body {
    counter-reset: section;
    text-align: center;
    margin: 0;

}

header {
    font-family: $font-family_2;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.15) ;

    a.logo {
        display: flex;

        img {
            height: 2em;
            width: 10em;
        }
    }
}

section.top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    font-family: $font-family_1;
    padding: 0;
    padding-bottom: 20px;

    .search {
        display: flex;
        justify-content: center;
        box-shadow: 0px 4px 4px 0px #00000040 0px 2px 5px 0px;
        background: #EAEAEA;
        box-sizing: border-box;
        padding: 1rem;
        padding-left: 80px;
        width: 100%;
        font-weight: 700;
        gap: 17px;
        flex: 1;
        z-index: 1;
        align-items: center;

        i.fa-location {
            font-size: 1rem;
        }

        input {
            font-family: $font-family_1;
            font-weight: bold;
            border: none;
            background: transparent;
            font-size: 20px;
            justify-content: center;

            &::placeholder {
                color: black;
            }
        }
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
        margin-top: -1px;
    }

    button.btn-gradiant {
        text-align: center;
        color: white;
        display: inline-block;
        background-color: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
        background-image: linear-gradient(rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
        z-index: 1;
        border: none;
        border-radius: 2em;
        width: fit-content;
        padding: 1rem 1.5rem;
        box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    }
}

section.fonctionnement {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1em;
    font-family: $font-family_1;

    .main-wrapper {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    menu {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex: 1;
        margin: 0;
        padding: 0;

        li {
            width: 100%;
            display: flex;
            list-style: none;
            position: relative;

            button {
                gap: 0.5rem;
                border: none;
                box-sizing: border-box;
                cursor: pointer;
                width: 100%;
                text-align: center;
                padding: 1.5625rem 0.625rem;
                margin-bottom: 1.25rem;
                margin-left: 0.8125rem;
                border-radius: 1.5rem;
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                font-weight: bold;
                background: #F6F6F6;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

                .step {
                    padding-left: 3px;
                    margin: 0 1.25rem 0 1.625rem;
                    font-size: 1.25rem;
                    color: #7E7E7E;

                }

                &:hover {
                    i {
                        color: $color_3;
                    }
                }

                &::before {
                    align-items: center;
                    font-size: 0.95rem;
                    text-align: center;
                    color: white;
                    counter-increment: section;
                    content: counter(section);
                    border-radius: 50%;
                    border-top-left-radius: 50%;
                    border-top-right-radius: 50%;
                    border-bottom-right-radius: 50%;
                    border-bottom-left-radius: 50%;
                    width: 1.625rem;
                    height: 1.625rem;
                    display: flex;
                    justify-content: center;
                    background-color: $background-color_1 ;
                    position: absolute;
                    top: 1em;
                    left: -1rem;
                    padding: 2px;
                }

                span {
                    font-weight: bold;
                    font-size: 1rem;
                }
            }
        }
    }
}

section.restaurant {
    background-color: #F6F6F6;
    padding: 1em;

    .main-wrapper {
        h2 {
            font-size: 1.5625rem;
            font-weight: 900;
            margin-bottom: 1.25rem;
            font-weight: bold;
            text-align: left;
        }

        .menu-cards {
            display: flex;
            flex-direction: column;
            gap: 3em;
            width: 100%;

            a {
                display: flex;
                text-decoration: none;
                color: black;
                width: 100%;

                article.card {
                    border-radius: 1.5em;
                    width: 100%;
                    background: white;
                    position: relative;

                    img {
                        width: 100%;
                        height: 10em;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 2em 2em 0 0;
                        display: block;
                        position: relative;
                    }

                    .card-content {
                        display: flex;
                        padding: 0.5em;
                        flex: 1;
                        justify-content: space-between;


                        .card-txt {
                            display: flex;
                            flex-direction: column;
                            font-family: $font-family_1;
                            align-items: flex-start;
                            padding-left: 5px;
                        }

                        h3.card-title {
                            font-size: 1em;
                            margin: 0;
                            font-weight: 600;
                        }

                        p.card-subtitle {
                            font-size: 1em;
                            margin: 0;
                        }

                        .card-icone {
                            padding: 0.5rem 0.75rem;
                            background-color: #99E2D0;
                            color: #008766;
                            font-size: 0.875rem;
                            top: 15px;
                            right: 15px;
                            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
                            position: absolute;
                        }
                    }

                    .card-rating {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2em;
                        height: 2.5em;
                        text-align: center;

                        .favorite__restaurant {
                            height: 2rem;
                            width: 2rem;
                            padding: 0;
                            display: inline-block;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            overflow: hidden;

                            .icon-fill {
                                @include favorite-icone-fill;
                                transition: 0.2s linear;
                            }

                            .icon-empty {
                                @include favorite-icone-empty;
                                transition: 0.2s linear;
                            }

                            &:hover .icon-fill {
                                opacity: 1;
                            }

                            &:hover .icon-empty {
                                opacity: 0;
                            }
                        }



                        i {
                            font-weight: 700;
                            text-align: right;
                            font-size: 1.5rem;
                            background-color: transparent;

                            &:hover {
                                background-clip: text;
                                color: transparent;
                                background-color: $background-color_2
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    .homepage_footer {
        background: #707070;
        display: flex;
        align-content: flex-start;
    }

    .footer_container {
        color: #FFF;
    }

    .logo_footer {

        p.title_footer {
            font-family: "Shrikhand", cursive;
            font-weight: normal;
            font-size: 1.5rem;
            text-transform: lowercase;
            margin-bottom: 1.25rem;
            height: 0.5rem;
        }
    }

    .footer-link {
        .footer-list {
            color: #FFF;
            display: flex;
            flex-direction: column;
        }
    }

    a {
        color: #FFF;
    }
}